FLASK_APP=run.py
FLASK_DEBUG=False
FLASK_ENV=production
SECRET_KEY=""
ENCRYPTION_KEY=""
DATABASE_URL=""
REDIS_URL="redis://localhost:6379/0"

LOCAL_ENGINE_URL="http://127.0.0.1:7860"
AI_ENGINE_KEY=""

GROQ_API_KEYS=
ALEMBIC_EXEC="./venv/bin/alembic"

FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""

ONESIGNAL_APP_ID=""
ONESIGNAL_REST_API_KEY=""

MAIL_USERNAME=""
MAIL_PASSWORD=""

BYPASS_LIMITER_TOKEN="" // nonaktifkan saat produksi
