__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
.pytest_cache/
.mypy_cache/
.vscode/

instance/
*.log

.env

app/static/uploads/*
!app/static/uploads/.gitkeep

app/static/verifications/*
!app/static/verifications/.gitkeep

app/static/thumbnails/*
!app/static/thumbnails/.gitkeep

app/static/reject/*
!app/static/reject/.gitkeep

app/static/quarantine/*
!app/static/quarantine/.gitkeep
*.joblib
*.pkl
alembic/.versions.cache
serviceAccountKey.json